<html>
<head>
	<title>Query: <?php print $name ?> (ID:<?php print $id ?>)</title>
	<link href="/meshlium/static/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<table width="100%" class="userTable">
		<tr>
			<td class="titlecell">Meshlium REST Services Directory</td>
			<!-- <td align="right"><a href="http://www.esridemos.com/arcgis/rest/login">Login</a> | <a href="http://www.esridemos.com/arcgis/tokens/">Get Token</a></td> -->
		</tr>
	</table>
	<table width="100%" class="navTable">
		<tr valign="top">
		<td class="breadcrumbs">
		<a href="/meshlium/rest/services">Home</a>
		&gt; <a href="/meshlium/rest/services">services</a>
		&gt; <a href="/meshlium/rest/services/<?php print $serviceName ?>/FeatureServer"><?php print $serviceName ?> (FeatureServer)</a>
		&gt; <a href="/meshlium/rest/services/<?php print $serviceName ?>/FeatureServer/<?php print $id ?>"><?php print $name ?></a>
		&gt; <a href="/meshlium/rest/services/<?php print $serviceName ?>/FeatureServer/<?php print $id ?>/query"><i>query</i></a>
		</td>
		<td align="right">
		<a href="http://www.esridemos.com/arcgis/sdk/rest/servicesdirectory.html" target="_blank">Help</a> | <a href="http://www.esridemos.com/arcgis/rest/services/REE/InspeccionesREE/FeatureServer/0/query?f=help" target="_blank">API Reference</a>
		</td>
		</tr>
	</table>
	<h2>Query: <?php print $name ?> (ID: <?php print $id ?>)</h2>
	<div class="rbody">
	<div style="color:#ff6666"> </div>
	<form name="sdform" action="<?php print $serviceUrl ?>/<?php print $id ?>/query">
	<table class="formTable">
		<tr valign="top">
			<td>Where:</td>
			<td><input type="text" name="where" value="<?php print $_GET[where] ?>" size="75"/></td>
		</tr>
		<tr valign="top">
			<td>Object IDs:</td>
			<td><input type="text" name="objectIds" value="<?php print $_GET[objectIds] ?>" size="75"/></td>
		</tr>
		<tr valign="top">
			<td>Time:</td>
			<td><input type="text" name="time" value="<?php print $_GET[time] ?>" size="75"/></td>
		</tr>
		<tr>
			<td>Input Geometry:</td>
			<td>
			<textarea name="geometry" rows="5" cols="55"><?php print $_GET[geometry] ?></textarea>
			</td>
		</tr>
		<tr>
			<td>Geometry Type:</td>
			<td>
			<select name="geometryType">
			<option value="esriGeometryEnvelope" >Envelope</option>
			<option value="esriGeometryPoint" >Point</option>
			<option value="esriGeometryPolyline" >Polyline</option>
			<option value="esriGeometryPolygon" >Polygon</option>
			<option value="esriGeometryMultipoint" >Multipoint</option>
			</select>
			</td>
		</tr>
		<tr valign="top">
			<td>Input Spatial Reference:</td>
			<td><input type="text" name="inSR" value="<?php print $_GET[inSR] ?>" size="75"/></td>
			</tr>
		<tr>
			<td>Spatial Relationship:</td>
			<td>
			<select name="spatialRel">
			<option value="esriSpatialRelIntersects" >Intersects</option>
			<option value="esriSpatialRelContains" >Contains</option>
			<option value="esriSpatialRelCrosses" >Crosses</option>
			<option value="esriSpatialRelEnvelopeIntersects" >Envelope Intersects</option>
			<option value="esriSpatialRelIndexIntersects" >Index Intersects</option>
			<option value="esriSpatialRelOverlaps" >Overlaps</option>
			<option value="esriSpatialRelTouches" >Touches</option>
			<option value="esriSpatialRelWithin" >Within</option>
			<option value="esriSpatialRelRelation" >Relation</option>
			</select>
			</td>
		</tr>
		<tr valign="top">
			<td>Relation:</td>
			<td><input type="text" name="relationParam" value=""/></td>
		</tr>
		<tr valign="top">
			<td>Out Fields:</td>
			<td><input type="text" name="outFields" value="<?php print $_GET[outFields] ?>" size="75"/></td>
		</tr>
		<tr>
			<td>Return Geometry:</td>
			<td>
			<input type="radio" name="returnGeometry" value="true" checked="true" /> True &nbsp;
			<input type="radio" name="returnGeometry" value="false" /> False
			</td>
		</tr>
		<tr valign="top">
			<td>Max Allowable Offset:</td>
			<td><input type="text" name="maxAllowableOffset" value="" size="25"/></td>
		</tr>
		<tr valign="top">
			<td>Geometry Precision:</td>
			<td><input type="text" name="geometryPrecision" value="" /></td>
		</tr>
		<tr valign="top">
			<td>Output Spatial Reference:</td>
			<td><input type="text" name="outSR" value="<?php print $_GET[outSR] ?>" size="75"/></td>
		</tr>
		<tr valign="top">
			<td>Geodatabase Version Name:</td>
			<td><input type="text" name="gdbVersion" value="" /></td>
		</tr>
		<tr>
			<td>Return IDs Only:</td>
			<td>
			<input type="radio" name="returnIdsOnly" value="true" /> True &nbsp;
			<input type="radio" name="returnIdsOnly" value="false" checked="true" /> False
			</td>
		</tr>
		<tr>
			<td>Return Count Only:</td>
			<td>
			<input type="radio" name="returnCountOnly" value="true" /> True &nbsp;
			<input type="radio" name="returnCountOnly" value="false" checked="true" /> False
			</td>
		</tr>
		<tr valign="top">
			<td>Order By Fields:</td>
			<td><input type="text" name="orderByFields" value="<?php print $_GET[orderByFields] ?>" /></td>
		</tr>
		<tr valign="top">
			<td>Group By Fields (ForStatistics):</td>
			<td><input type="text" name="groupByFieldsForStatistics" value="" /></td>
			</tr>
			<tr valign="top">
			<td>Output Statistics:</td>
			<td><textarea name="outStatistics" rows="20" cols="50"><?php print $_GET[outStatistics] ?></textarea></td>
			</tr>
		<tr>
			<td>ReturnZ:</td>
			<td>
			<input type="radio" name="returnZ" value="true" /> True &nbsp;
			<input type="radio" name="returnZ" value="false" checked="true" /> False
			</td>
			</tr>
		<tr>
			<td>ReturnM:</td>
			<td>
			<input type="radio" name="returnM" value="true" /> True &nbsp;
			<input type="radio" name="returnM" value="false" checked="true" /> False
			</td>
			</tr>
		<tr>
			<td>Format:</td>
			<td>
			<select name="f">
			<option value="html">HTML</option>
			<option value="pjson">JSON</option>
			</select>
			</td>
			</tr>
		<tr>
			<td colspan="2" align="left">
			<input type="submit" value="Query (GET)" />
			<input type="submit" onclick="this.form.method = 'post';" value="Query (POST)" />
			</td>
		</tr>
	</table>
	</form>
	<script type="text/javascript">
		document.forms.sdform.where.focus();
	</script>
	<?php if($features): ?>

	<i># records: <?php print count($features) ?></i><br/><br/>

	<?php
		foreach( $features as $feature)
		{
			// attributes
			foreach( $feature[attributes] as $name => $value)
			{
				print "<i>$name: </i> $value<br>";
			}
			// geometry
			print "<i>Point:</i><br/>";
			print "<i>X: </i>".$feature['geometry']['x']."<br />";
			print "<i>Y: </i>".$feature['geometry']['y']."<br />";
			print "<br />";
		}
		print "<br />";
	?>
	<?php endif; ?>
	</div>
	<br/><br/>
</body>
</html>
