<html>
<head>
	<title>Feature Layer</title>
	<link href="/meshlium/static/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<table width="100%" class="userTable">
		<tr>
		<td class="titlecell">
		Meshlium REST Services Directory
		</td>
		<!-- 
		<td align="right">
			<a href="http://www.esridemos.com/arcgis/rest/login">Login</a> | <a href="http://www.esridemos.com/arcgis/tokens/">Get Token</a>
		</td>
		-->
		</tr>
	</table>
	<table width="100%" class="navTable">
		<tr valign="top">
		<td class="breadcrumbs">
		<a href="/meshlium/rest/services">Home</a>
		&gt; <a href="/meshlium/rest/services">services</a>
		&gt; <a href="/meshlium/rest/services/<?php print $serviceName ?>/FeatureServer"><?php print $serviceName ?> (FeatureServer)</a>
		&gt; <a href="/meshlium/rest/services/<?php print $serviceName ?>/FeatureServer/<?php print $id ?>"><?php print $name ?></a>
		</td>
		<td align="right">
		<a href="http://www.esridemos.com/arcgis/sdk/rest/servicesdirectory.html" target="_blank">Help</a> | <a href="http://www.esridemos.com/arcgis/rest/services/REE/InspeccionesREE/FeatureServer/0?f=help" target="_blank">API Reference</a>
		</td>
		</tr>
	</table>
	<table>
		<tr>
		<td class="apiref">
		<a href="?f=pjson" target="_blank">JSON</a>
		</td>
		</tr>
	</table>
	<h2>Layer: <?php print $name ?> (ID: <?php print $id ?>)</h2>
	<div class="rbody">
	<b>View In:</b>
	&nbsp;&nbsp;<a href="http://www.arcgis.com/home/webmap/viewer.html?url=<?php print urlencode($fullServiceUrl."/".$id) ?>&source=sd" target="_blank">ArcGIS.com Map</a>
	<br/><br/> <b>Name:</b> <?php print $name ?><br/><br/>
	<b>Display Field:</b> <?php print $displayField ?><br/><br/>
	<b>Type: </b> Feature Layer <br/><br/>
	<b>Geometry Type:</b> <?php print $geometryType ?><br/><br/>
	<b>Description: </b> <?php print $description ?><br/><br/>
	<b>Definition Expression: </b> N/A <br/><br/>
	<b>Copyright Text: </b> <?php print $copyrightText ?><br/><br/>
	<b>Default Visibility: </b> <?php print $defaultVisibility? "true" : "false" ?> <br/><br/>
	<b>MaxRecordCount: </b> <?php print $maxRecordCount ?><br/><br/>
	<b>Supported Query Formats: </b> <?php print $supportedQueryFormats ?><br/><br/>
	<b>Min Scale: </b> <?php print $minScale ?><br/><br/>
	<b>Max Scale: </b> <?php print $maxScale ?><br/><br/>
	<b>Supports Advanced Queries: </b> <?php print $supportsAdvancedQueries? "true" : "false" ?><br/><br/>
	<b>Supports Statistics: </b> <?php print $supportsStatistics? "true" : "false" ?><br/><br/>
	<b>Extent:</b>
	<ul>
	XMin: <?php print $extent[xmin] ?><br/>
	YMin: <?php print $extent[ymin] ?><br/>
	XMax: <?php print $extent[xmax] ?><br/>
	YMax: <?php print $extent[ymax] ?><br/>
	Spatial Reference: <?php print $extent[spatialReference][wkid]; if(isset($extent[spatialReference][latestWkid])) print "&nbsp;(".$extent[spatialReference][latestWkid].")"; ?>
	<br/> <br/>
	</ul>
	<br/>
	<!-- HASTA AQUI -->
	<b>Drawing Info: </b>
	<ul>
	<i>Renderer: </i>
	<ul>
	<i>Simple Renderer:</i><br/>
	<i>Symbol: </i> <ul>
	<img width="<?php print $drawingInfo[renderer][symbol][width] ?>px" src="<?php print $serviceUrl?>/<?php print $id ?>/images/<?php print $drawingInfo[renderer][symbol][url] ?>" />
	</ul>
	<i>Label: </i> <?php print $drawingInfo[renderer][label] ?><br/>
	<i>Description: </i> <?php print $drawingInfo[renderer][description] ?></ul>
	<i>Transparency: </i> <?php print $drawingInfo[transparency] ?> <br/>
	<i>Labeling Info: </i>
	<ul>
	</ul>
	</ul>
	<br/>
	<b>HasZ: </b> <?php print $hasZ?"true":"false" ?> <br/><br/>
	<b>HasM: </b> <?php print $hasM?"true":"false" ?> <br/><br/>
	<b>Time Info:</b>
	<ul>
	Start Time Field: <?php print $timeInfo[startTimeField] ?> <br/>
	End Time Field: <?php print $timeInfo[endTimeField] ?> <br/>
	Track ID Field: <?php print $timeInfo[trackIdField] ?> <br/>
	Time Extent:
	<ul>
	[<?php print date("c",$timeInfo[timeExtent][0]/1000) ?>, <?php print date("c",$timeInfo[timeExtent][1]/1000) ?>]
	</ul>
	<br/>
	Time Reference:
	<?php print $timeInfo[timeReference] ?>
	<br/>
	Time Interval: <?php print $timeInfo[timeInterval] ?> <br/>
	Time Interval Units: <?php print $timeInfo[timeIntervalUnits] ?> <br/>
	Has Live Data: <?php print $timeInfo[hasLiveData] ?> <br/>
	Export Options:
	<ul>
	Use Time: <?php print $timeInfo[exportOptions][useTime] ?> <br/>
	Time Data Cumulative: <?php print $timeInfo[exportOptions][timeDataCumulative] ?> <br/>
	Time Offset: <?php print $timeInfo[exportOptions][timeOffset] ?>&nbsp;<i>(<?php print $timeInfo[exportOptions][timeOffsetUnits] ?>)</i>
	</ul>
	</ul>
	<br/>
	<b>Has Attachments: </b> <?php print $hasAttachments?"true":"false" ?> <br/><br/>
	<b>HTML Popup Type: </b> <?php print $htmlPopupType ?><br/><br/>
	<b>Type ID Field: </b> <?php print $typeIdField ?> <br/><br/>
	<b>Fields: </b>
	<ul>
	<?php
		foreach ($fields as $field)
		{
			print "<li>$field[name]<i> (type: $field[type], alias: $field[alias])</i></li>";
		}
	?>
	</ul>	
	<br/>
	<b>Capabilities: </b> <?php print $capabilities ?><br/><br/>
	<b>Sync Can Return Changes: </b> <?php print $syncCanReturnChanges? "true" : "false" ?><br/><br/>
	<b>Is Data Versioned: </b> <?php print $isDataVersioned? "true" : "false" ?><br/><br/>
	<b>Supports Rollback On Failure: </b> <?php print $supportsRollbackOnFailureParameter? "true" : "false" ?><br/><br/>
	<b>Supported Operations</b>:
	&nbsp;&nbsp;<a href="<?php print $serviceUrl ?>/<?php print $id ?>/query">Query</a>
	<br/><br/>
	</div>
	<br/><br/>
</body>
</html>
