/* http://sanwebe.com/assets/css/style.css */
body{
	background: url(../img/bg73.gif) repeat;
	margin: 0px;
	font: 20px/20px "kepler-std", "Georgia", sans-serif;
	color: #797979;
}
a:link {
	color: #009999;
}
a:visited {
	color: #009999;
}

.this-header{
	background: url(../img/bg74.gif) repeat;
	min-height: 32px;
	border-bottom: 1px solid #DADADA;
	margin-bottom: 10px;
	box-shadow: 0px 2px 5px #E2E2E2;
}
.site-logo{
	font-family: "abril-text", "Georgia", sans-serif;
	font-size: 23px;
	padding: 3px;
	line-height: 28px;
}
.site-logo a{
	text-decoration: none;	
}
.site-logo a:hover{
	text-decoration:underline;
}
.site-logo span {
	font-size: 13px;
}
.label {
	font-family: "museo-slab", serif;
	font-size: 14px;
	background: #DCE9F5;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #D3E0EC;
}
.alert {
	font-size: 14px;
	background: #DFFFF1;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #D0F5E5;
	font-family: "museo-slab", serif;
	margin-bottom: 10px;
	margin-top: 10px;
}
pre{
	font-family: Menlo, Monaco, monospace;
	font-size: 14px;
	text-shadow: none;
	background: #ECEDEE;
	padding: 10px;
	border-radius: 10px;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 20px 0 0px 20px;
}

.grid-pad > [class*='col-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}
.col-2-3, .col-8-12 {
	width: 66.66%;
}

.col-1-2, .col-6-12 {
	width: 50%;
}

.col-1-3, .col-4-12 {
	width: 33.33%;
}

.col-1-4, .col-3-12 {
	width: 25%;
}

.col-1-5 {
	width: 20%;
}

.col-1-6, .col-2-12 {
	width: 16.667%;
}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9.09%;
}

.col-1-12 {
	width: 8.33%
}

/* Layout Columns */
.col-12-12 {
	width: 100%;
}



.col-9-12 {
	width: 75%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	[class*='col-'] {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

h1.heading{padding:0px;margin: 0px 0px 10px 0px;text-align:center;font: 18px Georgia, "Times New Roman", Times, serif;}

/* width and height of nus map */
#nus_map {width: 100%;height: 500px;margin-top: 10px;margin-left: auto;margin-right: auto;border: 6px solid #C4B2FF;border-radius: 5px;}

/* lat and lng display block */
#lat_lng_display{padding-top: 25px;}

/* Marker Edit form */
.marker-edit label{display:block;margin-bottom: 5px;}
.marker-edit label span {width: 100px;float: left;}
.marker-edit label input, .marker-edit label select{height: 24px;}
.marker-edit label textarea{height: 60px;}
.marker-edit label input, .marker-edit label select, .marker-edit label textarea {width: 60%;margin:0px;padding-left: 5px;border: 1px solid #DDD;border-radius: 3px;}

/* Marker Info Window */
h1.marker-heading{color: #585858;margin: 0px;padding: 0px;font: 18px "Trebuchet MS", Arial;border-bottom: 1px dotted #D8D8D8;}
div.marker-info-win {margin-right: -20px;}
div.marker-info-win p{padding: 0px;margin: 10px 0px 10px 0;}
div.marker-inner-win{padding: 5px;}
button.daily-marker, button.weekly-marker, button.update-marker{
	border: none;
	background: rgba(0, 0, 0, 0);
	color: #00F;
	padding: 0px;
	text-decoration: underline;
	margin-right: 10px;
	cursor: pointer;
}
